<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2024 - lab2_dotNET_ - <a asp-area="" asp-controller="Home" asp-action="About">Shyam Patel</a>
    </div>
</footer>