@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    var name = "Shyam Patel";
    var studentNumber = "101412165";
    var courseCode = "T177";
    var subject = "Web Appliation Development";
}

<!DOCTYPE html>
<html>
<head>
    <tile>My Title</title>
</head>
<body>
    <h1> Welcome to my page </h1>
    <p> Name: @name </p>
    <p> Student Number: @studentNumber </p>
    <p> Course Code: @courseCode </p>
</body>
</html>