@model Project
@{
    ViewData["Title"] = "Project Details";

}
<h2>Project Details</h2>

<div class="card">
    <div class="card-body">

        <h3 class="card-title">@Model.Name</h3>
        <p class="card-text">@Model.Description</p>

        <dl class="row">
            <dt class="col-sm-3">Project ID</dt>
            <dd class="col-sm-9">@Model.ProjectId</dd>
        </dl>


        <a asp-asp-controller="Project" asp-action="Edit" asp-route-id="@Model.ProjectId" class="btn btn-primary">Edit</a>
        <a asp-asp-controller="Project" asp-action="Index" class="btn btn-secondary">Back to the List</a>


    </div>
</div>